$home-base-color: #FFF;
$home-base-color2: rgb(125, 134, 140);
$home-base-color3: rgb(5, 88, 164);
$home-base-color4: rgb(0, 0, 0);

$home-fore-color: rgb(99, 99, 99);


$background-url: "/assets/background.jpg";

$home-expanded-logo-url: "/assets/logo_menu_expanded.png";
$home-collapsed-logo-url: "/assets/logo_menu_collapsed.png";