$login-base-color: #FFF !default;
$login-base-color2: rgb(125, 134, 140) !default;
$login-base-color3: rgb(5, 88, 164) !default;
$login-base-color4: rgb(0, 0, 0) !default;

$login-logo-url: "/assets/logo.png";

$background-url: "/assets/background.jpg";